<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1>Admin Panel</h1>
    <div style="height: 20px;"></div>

    </div>

    <div class="col-md-3 components">
      <app-categories></app-categories>
    </div>
    <div class="col-md-3 components">
      <app-materials></app-materials>
    </div>
    <div class="col-md-3 components">
      <app-countries></app-countries>
    </div>
    <div class="col-md-3 components">
      <app-cities></app-cities>
    </div>
    <div style="height: 20px;"></div>
    
    <div class="col-md-3 components">
      <app-fonds></app-fonds>
    </div>

  </div>


</div>
